.about-me {
    background-color: $secondary;
    text-align: center;
    padding-bottom: 1em;
}

.about-me__title {
    @include title-style;

}

.social-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.social-nav li{
    list-style: none;
    width: 45px;
    height: 45px;
    margin: 0 0.5em
}

.social-nav a {
    fill: $primary;
    transition: fill 0.5s;

    &:hover {
        fill: lighten($tertiary, 5%);
    }
}

.about-me__info{
    width: 275px;
    margin: 2.3em auto 2em;
    padding-bottom: 2em;
    font-family: $montserrat;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
}

.about-me__info::after{
    content: "";
    border-bottom: solid 1px $primary;
    width: 275px;
    position: absolute;
    bottom: -10px; right: 0px;
}

.about-me__technologies__title,
.about-me__dev-tools__title{
    padding: 1.5em 0 1em;
    letter-spacing: 4px;
}

.about-me__technologies__list,
.about-me__dev-tools__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
}

.about-me__technologies__list-item,
.about-me__dev-tools__list-item {
    @include button-style;
    border-width: 2px;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 2px;
    width: 130px;
    padding: 0.5em 0.5em; 
    margin: 0 0.5em 1em
}



