.nav-list__fullscreen, .nav-list{
    display: none;
}

nav {
    background: $secondary;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo {
    color: $primary;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 2px;
}

