.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:2em;
}

.hero__title{
    font-size: 1.8em;
    margin: 0 0 1em;
    letter-spacing: 4px;
    width: 300px;
}

.hero__subtitle {
    width: 250px;
    font-family: $montserrat;
    font-size: 1.3em;
    margin: auto;
    color: $primary;
    letter-spacing: 1.2px;
}

.hero__image {
    display: none;
}

.hero__button {
    @include button-style;
    border-width: 5px;
    border-radius: 8px 2px;
    margin: 2.4em 0 1em;
    padding: 15px 30px;
    font-size: 1.2em;
    letter-spacing: 5px;
    font-weight: 600;
    transition: background-color 0.5s ;
    color: $light;

    &:hover{
        background-color: lighten($secondary, 5%);
        cursor: pointer;
    }
}

.hero__button a{
    text-decoration: none;   
}

.arrow {
    display: none;
}