@media (min-width: 768px) {
    //  Hero
        .hero {
            position: relative;
            text-align: left;
            align-items: flex-start;
            margin-left: 50px;
            overflow: hidden;
            height: 375px;
        }
        
        .hero__title {
            width: 500px;
            font-size: 2em;
            letter-spacing: 5px;
        }

        .hero__subtitle {
            margin: initial;
            font-size: 1.5em;
            font-weight: 400;
        }

        .hero__image {
            display: initial;
            width: 438px;
            transform: rotate(-90deg);
            position: absolute;
            right: -125px; top: 206px;
        }
    // Hero End  


    // About Me 
        .about-me {
            padding: 1.5em 50px;
            display: grid;
            grid-template-areas: 
                "social-nav about-me__title"
                "about-me__info about-me__technologies"
                "about-me__info about-me__dev-tools";
        }

        .about-me__title {
            grid-area: about-me__title;
            letter-spacing: 8px;
            font-size: 2.4em;
        }

        .social-nav{
            grid-area: social-nav;
            justify-self: start;
            
        }

        .about-me__title,
        .about-me__technologies,
        .about-me__dev-tools {
            justify-self: end;
        }

        .about-me__info {
            margin: 0;
            padding-top: 1em;
            grid-area: about-me__info;
            align-self: center;
            font-size: 1.5em;
            letter-spacing: 2px;
            text-align: left;
            width: 300px;
        }

        .about-me__technologies {
            grid-area: about-me__technologies;
        }

        .about-me__dev-tools {
            grid-area: about-me__dev-tools;
        
        }

        .about-me__info::after {
            display: none;
        }
        // About-Me End


        // Portfolio

        .portfolio {
            padding: 1.5em 0;
        }

        .portfolio__title {
            display: block;
            text-align: left;
            font-size: 2.4em;
            letter-spacing: 8px;
            margin-left: 50px;
        }

        .portfolio__card__container {
            flex-direction: row;
            // justify-content: space-between;
            flex-wrap: wrap;
            // max-width: 700px;
            margin: auto;
        }

        .portfolio__card {
            margin: 25px 25px;
        }
        // Portfolio End

        // Contact
        .contact {
            padding: 1.5em 0 8em;
        }

        .contact__title {
            font-size: 2.4em;
            letter-spacing: 8px;
        }

        .form__container {
            width: 600px;
        }

        .contact__input,
        .contact__textarea {
            width: 400px;
            font-size: 1.3em;
        }

        .contact__textarea {
            height: 200px;
        }
}

@media (min-width: 1024px) {
    // Header

    nav .logo {
        font-size: 1em;
    }

    .nav__toggle,
    .hamburger {
        display: none;
    }

    .nav-list{
        display: flex;
        flex-direction: row;
        width:initial;
        height: initial;
        position: initial;
        transform: initial;
        padding-right: 50px;
    }

    .nav-list a {
        font-size: 0.8em;
        margin-left: 1.5em;
    }
    // Header end

}

@media (min-width: 1200px) {

    // Header
    nav {
        padding: 0 25px;
        height: 100px;
    }

    // Header End


    // Hero
    .hero {
        margin-left: 75px;
        height: 600px;
    }

    .hero__image {
        width: 664px;
        right: -190px; top: 289.5px;
    }

    .hero__title {
        width: 800px;
        margin-bottom: 64px;
        font-size: 2.4em;
        line-height: 1.6em;
    }

    .hero__subtitle {
        width: 340px;
        font-size: 2em;
        line-height: 1.4em;
    }

    .hero__button {
        margin-top: 64px;
        padding: 30px 25%;
        font-size: 1.7em;
        letter-spacing: 6px;
    }
    // Hero End


    // About Me
    .about-me {
        padding: 1.5em 75px;
        grid-template-areas: 
                "social-nav about-me__title about-me__title"
                "about-me__technologies about-me__info about-me__dev-tools"
                "about-me__technologies about-me__info about-me__dev-tools";
    }

    .about-me__technologies {
        justify-self: start;
    }
    
    .about-me__info {
        justify-self: center;
        text-align: center;
        letter-spacing: 3px;
        line-height: 1.5em;
        width: 400px;
    }
    
    .about-me__dev-tools {
        justify-self: end;
    }

    .about-me__technologies__title,
    .about-me__dev-tools__title {
        letter-spacing: 6.5px;
        font-size: 1.4em;
    }

    .about-me__technologies__list-item,
    .about-me__dev-tools__list-item {
        width: 200px;
        padding: 1em 0.5em;
        font-size: 1em;
        letter-spacing: 4px;
        border-width: 3.5px;
    }

    

    .social-nav li {
        margin: 0 2em;
        width:60px;
        height: 60px;
    }
    // About Me End


    // Portfolio
    .portfolio__title {
        margin-left: 75px;
    }
    // Portfolio End
}

@media (min-width: 1500px) {
    .nav-list,
    nav .logo {
        font-size: 1.7em;
        letter-spacing: 10px;
    }
}